* {
  box-sizing: border-box;

  &::selection {
    background-color: $color-red-light;
    color: $color-teal-dark;
  }
}

html {
  font-family: $font-family-body-system;
  height: 100%;
  background-color: $color-page-background;
  color: $color-text;
  font-size: 18px;
}

@media (min-width: 40em) {
  body{
    border-top: 10px solid $color-pink-light;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.2em;
  }
  
  h2 {
    font-size: 2em;
    line-height: 1.1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading-default;
  font-weight: 700;
  color: $color-headline;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 2em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-style: italic;
  margin: 2em 0 1em 1em;
}

a {
  &, h1,h2,h3,h4,h6,h5 {
    color: $color-link;
    text-decoration: none;
  }
  &:visited {
    &, h1,h2,h3,h4,h6,h5 & {
      color: $color-link-visited;
    }
  }
  &:hover{
    &, h1,h2,h3,h4,h5,h6 & {
      //border-bottom: 1px solid $color-yellow-light;
      color: $color-link-hover;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

p {
  margin: 0;
  margin-top: 1em;
  line-height: 1.6em;
}


ul {
  margin: 0;
}

body {
  margin: 0;
  border: 0;
}

input:not([type=submit]):not([type=file]) {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  font-size: large;
  border: none;
  margin-top: 5px;
  background: #ddd;
}

input[type="submit"]{
  border: none;
  font-size: 120%;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  color: $color-teal-dark;
  font-family: Georgia,Times,Serif;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 2px 2px 2px #111;
  background: $color-blue-light;
  transition: all 300ms ease;
  &:hover {
    box-shadow: 1px 1px 1px #000;
    text-decoration: underline;
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
