.site-footer {
  border-top: 0.5em solid $color-brand;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
%card {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 3px;
  margin: 10px auto 0 auto;
  width: 100%;
}

blockquote,
pre {
  @extend %card;
}

.footer_card {
  @extend %card;
  max-width: 20em;
}

.mc_referral {
  font-size: 0.8em;
}

.footer_stack_info {
  list-style: none;
}
