.site-header {
  border-bottom: 5px solid $color-brand;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: $color-brand;
}

.site-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  h1{
    margin: 0;
  }
  .o-logo{
    margin: 0;
  }
}


@keyframes surf {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg) translate(-5px,-5px);
  }
  10% {
    transform: rotate(7deg) translate(5px,-5px);
  }
  15% {
    transform: rotate(-5deg) translate(-3px,5px);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

a.c-logo-link {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  text-align: center;
}

.c-logo-image {
  width: 100%;
  height: 100%;
  transform-origin: 50% 90%;
  animation: surf 120s infinite alternate ease-in-out;
}

.o-site-nav {
  margin: 10px 5px;
  a {
    padding: 10px;
  }
}

ul.c-nav-links {
  padding: 0;
  li {
    display: inline-block;
  }
}

a.c-nav-link {
  display: inline-block;
}
