/** palleteon **/
/** fixed variables reused across other modules**/
* {
  box-sizing: border-box; }
  *::selection {
    background-color: #f9a;
    color: #233; }

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  background-color: white;
  color: #223;
  font-size: 18px; }

@media (min-width: 40em) {
  body {
    border-top: 10px solid #f04; }
  h1 {
    font-size: 2.5em;
    line-height: 1.2em; }
  h2 {
    font-size: 2em;
    line-height: 1.1em; } }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Times, serif;
  font-weight: 700;
  color: #223; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em;
  margin-top: 2em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-style: italic;
  margin: 2em 0 1em 1em; }

a, a h1, a h2, a h3, a h4, a h6, a h5 {
  color: #AA22A4;
  text-decoration: none; }

a:visited, a:visited h1, a:visited h2, a:visited h3, a:visited h4, a:visited h6, h5 a:visited {
  color: #3B39B2; }

a:hover, a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, h6 a:hover {
  color: #adf;
  text-decoration: underline;
  cursor: pointer; }

p {
  margin: 0;
  margin-top: 1em;
  line-height: 1.6em; }

ul {
  margin: 0; }

body {
  margin: 0;
  border: 0; }

input:not([type=submit]):not([type=file]) {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  font-size: large;
  border: none;
  margin-top: 5px;
  background: #ddd; }

input[type="submit"] {
  border: none;
  font-size: 120%;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  color: #233;
  font-family: Georgia,Times,Serif;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 2px 2px 2px #111;
  background: #adf;
  transition: all 300ms ease; }
  input[type="submit"]:hover {
    box-shadow: 1px 1px 1px #000;
    text-decoration: underline; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

@media (min-width: 60em) {
  .site-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "main aside" "footer aside"; } }

.site-main {
  margin: 0 auto;
  max-width: 38em;
  padding: 5px;
  grid-area: main; }

.site-header {
  grid-area: header; }

.side-bar {
  grid-area: aside; }

.site-footer {
  grid-area: footer; }

.site-header {
  border-bottom: 5px solid #FFEE33;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: #FFEE33; }

.site-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }
  .site-logo h1 {
    margin: 0; }
  .site-logo .o-logo {
    margin: 0; }

@keyframes surf {
  0% {
    transform: rotate(0deg); }
  5% {
    transform: rotate(-5deg) translate(-5px, -5px); }
  10% {
    transform: rotate(7deg) translate(5px, -5px); }
  15% {
    transform: rotate(-5deg) translate(-3px, 5px); }
  20% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

a.c-logo-link {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  text-align: center; }

.c-logo-image {
  width: 100%;
  height: 100%;
  transform-origin: 50% 90%;
  animation: surf 120s infinite alternate ease-in-out; }

.o-site-nav {
  margin: 10px 5px; }
  .o-site-nav a {
    padding: 10px; }

ul.c-nav-links {
  padding: 0; }
  ul.c-nav-links li {
    display: inline-block; }

a.c-nav-link {
  display: inline-block; }

.o-post-preview {
  padding-bottom: 10px;
  border-bottom: 5px solid #bee;
  padding-bottom: 50px; }

.c-post-title {
  margin-bottom: .4em; }

.c-post-meta {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  justify-content: space-between; }
  .c-post-meta > li {
    margin-top: 10px; }

.c-meta-author {
  flex-basis: 100%;
  padding-bottom: 5px;
  align-self: flex-start; }

.c-meta-length,
.c-meta-date {
  color: #bee;
  color: rgba(187, 238, 238, 0.7); }

@media (min-width: 40em) {
  .c-meta-author,
  .c-meta-length,
  .c-meta-date {
    flex-basis: 33%; } }

.c-tag-list {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0; }
  .c-tag-list li {
    display: inline-block;
    margin-left: 10px; }

.c-meta-tags {
  flex-basis: 100%; }

.c-post-subtitle {
  margin-top: 50px; }

.c-post-show-more {
  margin-left: auto;
  width: 100%;
  text-align: right;
  display: inline-block;
  margin-top: 50px; }

.c-post-author {
  list-style: none;
  margin: 40px auto;
  padding-top: 10px;
  border-top: 5px solid #bee; }

.o-post img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto; }

.twitter-share-button {
  margin-left: auto; }

.c-post-subtitle {
  max-width: 90%;
  margin: 50px auto 10px;
  font-weight: bold; }

.c-image-credit {
  font-size: .9em;
  text-align: center; }

.o-pagination {
  list-style: none;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px; }
  .o-pagination li {
    display: inline-block;
    margin-left: 10px; }
  .o-pagination a {
    padding: 5px 10px; }
  .o-pagination .inactive:hover {
    background-color: #233; }
  .o-pagination .inactive a {
    color: #ccc;
    cursor: default; }

.side-bar {
  padding: 10px;
  background: white;
  border-left: 1px solid #334; }

.site-footer {
  border-top: 0.5em solid #FFEE33;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap; }

blockquote,
pre, .footer_card {
  background: #FFF482;
  padding: 10px;
  border-radius: 3px;
  margin: 10px auto 0 auto;
  width: 100%; }

.footer_card {
  max-width: 20em; }

.mc_referral {
  font-size: 0.8em; }

.footer_stack_info {
  list-style: none; }

.social_sharing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.sharing__link {
  padding: 5px 10px;
  display: inline-block;
  min-width: 20em;
  text-align: center; }

/* Background */
.chroma {
  background-color: #334; }

code {
  background-color: #334;
  padding-left: 2px;
  padding-right: 2px; }

/* Error */
.chroma .err {
  color: #960050;
  background-color: #1e0010; }

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0; }

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  overflow: auto;
  display: block; }

/* LineHighlight */
.chroma .hl {
  background-color: #ffffcc;
  display: block;
  width: 100%; }

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  display: block; }

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em; }

/* Keyword */
.chroma .k {
  color: #66d9ef; }

/* KeywordConstant */
.chroma .kc {
  color: #66d9ef; }

/* KeywordDeclaration */
.chroma .kd {
  color: #66d9ef; }

/* KeywordNamespace */
.chroma .kn {
  color: #f92672; }

/* KeywordPseudo */
.chroma .kp {
  color: #66d9ef; }

/* KeywordReserved */
.chroma .kr {
  color: #66d9ef; }

/* KeywordType */
.chroma .kt {
  color: #66d9ef; }

/* NameAttribute */
.chroma .na {
  color: #a6e22e; }

/* NameClass */
.chroma .nc {
  color: #a6e22e; }

/* NameConstant */
.chroma .no {
  color: #66d9ef; }

/* NameDecorator */
.chroma .nd {
  color: #a6e22e; }

/* NameException */
.chroma .ne {
  color: #a6e22e; }

/* NameFunction */
.chroma .nf {
  color: #a6e22e; }

/* NameOther */
.chroma .nx {
  color: #a6e22e; }

/* NameTag */
.chroma .nt {
  color: #f92672; }

/* Literal */
.chroma .l {
  color: #ae81ff; }

/* LiteralDate */
.chroma .ld {
  color: #e6db74; }

/* LiteralString */
.chroma .s {
  color: #e6db74; }

/* LiteralStringAffix */
.chroma .sa {
  color: #e6db74; }

/* LiteralStringBacktick */
.chroma .sb {
  color: #e6db74; }

/* LiteralStringChar */
.chroma .sc {
  color: #e6db74; }

/* LiteralStringDelimiter */
.chroma .dl {
  color: #e6db74; }

/* LiteralStringDoc */
.chroma .sd {
  color: #e6db74; }

/* LiteralStringDouble */
.chroma .s2 {
  color: #e6db74; }

/* LiteralStringEscape */
.chroma .se {
  color: #ae81ff; }

/* LiteralStringHeredoc */
.chroma .sh {
  color: #e6db74; }

/* LiteralStringInterpol */
.chroma .si {
  color: #e6db74; }

/* LiteralStringOther */
.chroma .sx {
  color: #e6db74; }

/* LiteralStringRegex */
.chroma .sr {
  color: #e6db74; }

/* LiteralStringSingle */
.chroma .s1 {
  color: #e6db74; }

/* LiteralStringSymbol */
.chroma .ss {
  color: #e6db74; }

/* LiteralNumber */
.chroma .m {
  color: #ae81ff; }

/* LiteralNumberBin */
.chroma .mb {
  color: #ae81ff; }

/* LiteralNumberFloat */
.chroma .mf {
  color: #ae81ff; }

/* LiteralNumberHex */
.chroma .mh {
  color: #ae81ff; }

/* LiteralNumberInteger */
.chroma .mi {
  color: #ae81ff; }

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #ae81ff; }

/* LiteralNumberOct */
.chroma .mo {
  color: #ae81ff; }

/* Operator */
.chroma .o {
  color: #f92672; }

/* OperatorWord */
.chroma .ow {
  color: #f92672; }

/* Comment */
.chroma .c {
  color: #75715e; }

/* CommentHashbang */
.chroma .ch {
  color: #75715e; }

/* CommentMultiline */
.chroma .cm {
  color: #75715e; }

/* CommentSingle */
.chroma .c1 {
  color: #75715e; }

/* CommentSpecial */
.chroma .cs {
  color: #75715e; }

/* CommentPreproc */
.chroma .cp {
  color: #75715e; }

/* CommentPreprocFile */
.chroma .cpf {
  color: #75715e; }

/* GenericDeleted */
.chroma .gd {
  color: #f92672; }

/* GenericEmph */
.chroma .ge {
  font-style: italic; }

/* GenericInserted */
.chroma .gi {
  color: #a6e22e; }

/* GenericStrong */
.chroma .gs {
  font-weight: bold; }

/* GenericSubheading */
.chroma .gu {
  color: #75715e; }
