<div class="footer_card site_card">
	Important announcement on upcoming...
</div>
<div class="footer_card site_card">
	You do not have to be an expert to present a talk...
</div>
<div class="footer_card site_card">
<a rel="noopener" href="https://chennai-js.org/slack" class="twitter-follow-button" target="_blank">Join slack for chennai js</a>
</div>


<div class="footer_card site_card">
	<a rel="noopener" href="https://chat.whatsapp.com/GEjgX4oTQgi6mURDM12r8h" class="twitter-follow-button" target="_blank">Join Whatsapp</a>

</div>

<div class="footer_card site_card">
	<a rel="noopener" href="https://www.meetup.com/meetup-group-zZPQtwTs/" class="twitter-follow-button" target="_blank">Join Meetup</a>

</div>

