<header class="site-header" role="banner">
    <div class="site-logo">
      <figure class="o-logo">
        <a href="/" class="c-logo-link" >
          <img src="/img/site_logo.svg" class="c-logo-image" alt="logo" />
        </a>
      </figure>
      <h1 class="site-title">{{ $.Site.Title }}</h1>
    </div>
    <nav class="o-site-nav">
      <ul class="c-nav-links" >
        {{ if eq .Permalink .Site.BaseURL }}
          <li class="active">
            <a class="c-nav-link active" href="/">Home</a>
          </li>
        {{ else }}
          <li><a class="c-nav-link" href="/">Home</a></li>
        {{ end }}
      {{ range .Site.Menus.main }}
          <li class="">
            <a href="{{ .URL }}" class= "c-nav-link">
              {{- .Name -}}
            </a>
          </li>
      {{ end }}
          <li><a href="{{ "index.xml" | absLangURL }}" class="c-nav-link">
            <img style="vertical-align: middle" class="rss_feed" title="RSS feed" src="/images/rss-box.svg" alt="rss feed logo" /></a>
          </li>
      {{/* range .Site.RegularPages }}
        <li> {{ .URL }} </li>
        {{ if eq .Permalink $.Permalink }}
          <li class="active">
            <a href="{{ .Permalink }}" class= "c-nav-link current">
              {{- .Title -}}
            </a>
          </li>
        {{ else }}
          <li class="">
            <a href="{{ .Permalink }}" class= "c-nav-link">
              {{- .Title -}}
            </a>
          </li>
        {{ end }}
      {{ end */}}
      </ul>
    </nav>
</header>
