{{ if .IsPage }}
<div class="social_sharing">
  <!-- Sharingbutton Facebook -->
  <a class="sharing__link" href="https://facebook.com/sharer/sharer.php?u={{- .Permalink -}}" target="_blank" aria-label="">Share on Facebook</a>

  <!-- Sharingbutton Twitter -->
  <a class="sharing__link" href="https://twitter.com/intent/tweet/?text={{- .Params.Subtitle -}}&amp;url={{- .Permalink -}}&amp;via=pineboat"
    target="_blank" aria-label="">Tweet this post</a>

  <!-- Sharingbutton Google+ -->
  <a class="sharing__link" href="https://plus.google.com/share?url={{- .Permalink -}}"
    target="_blank" aria-label="">Share on Google+</a>
</div>
{{ end }}
